html {
  height: 100%;
}

body {
  height: 100%;
}

div#root {
  height: 100%; 
}

.App {
  font-family: "Lato", sans-serif;
  max-width: 75rem;
  margin: auto;
  height: 100%;
}


.App-header {
  background-image:url(./images/logo.jpeg);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: left;
  height:200px;
  width: 100%;
  margin: auto;
}

.App-nav {
  border-bottom: 1px lightblue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
}

.nav-link {
  float: left;
  display: inline;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.App-link:hover {
  background-color: #111;
}

.App-main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.sidebar{
  width: 25%;
  min-width: 180px;
  background-color: white;
  height: 100%;
  display: block;
}

.search{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.registration{
  margin: 10px 10px auto;
  min-width: 50%;
  padding: 10px;
  height:100%;
}

.labelText {
  display: inline-block;
  width: 150px;
  text-align: left;
}

@media screen and (max-width: 400px) {
  .App{
    height:auto;
  }

  .App-main{
    height:auto;
  }
  .sidebar {
      min-width: 100%;
      height: auto;
  }

  .registration{
    min-width:90%;
    font-size:smaller;
    height:auto;
  }

  
    
  


}

